html { overflow-y: scroll; }

body { margin: 0 auto; color: "#fff"; background-color: "#fff"; font: microsoft yahei, "Tahom"; text-align: center; }

p, dl, dt, dd, table, td, th, input, img, form, div, span, ul, ol, li, h1, h2, h3, h4, h5, h6, select, input { margin: 0; padding: 0; font-weight: normal; }

img, iframe { border: none; }

ul, li, ol { list-style: none; }

img { vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0; }

input { outline: none; }

em, b, i, strong, cite, sub, sup, font { font-weight: normal; font-style: normal; font-size: 100%; }

a { color: "#fff"; text-decoration: none; outline: none; }
a:hover { color: "#fff"; }

.clearfix { zoom: 1; }
.clearfix:before { content: ""; display: table; }
.clearfix:after { content: ""; display: table; clear: both; }

.clear { clear: both; }

.section { width: 100%; height: 100%; position: absolute; z-index: 1; background-color: #fff; overflow: hidden; }
.section article { position: absolute; overflow: hidden; width: 100%; height: 100%; top: 0px; left: 0px; display: none; color: #FFFFFF; }
.section article.curPage { display: block; }
.section article.page1 { background-color: #F00000; line-height: 100%; }
.section article.page2 { background-color: #f60; line-height: 100%; }
.section article.page3 { background-color: #FF1A8F; line-height: 100%; }
.section article span { top: 35%; position: absolute; font-size: 5rem; left: 20%; }
.section article span.rote360 { -moz-animation: "rote360" 5s linear infinite running; -webkit-animation: "rote360" 5s linear infinite running; animation: "rote360" 5s linear infinite running; }

@-webkit-keyframes rote360 { from { zoom: 1; -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
  to { zoom: 1; -moz-transform: rotate(360deg); -o-transform: rotate(360deg); -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); } }
.pageOutUp { -moz-animation: "pageOutUp" 1s; -webkit-animation: "pageOutUp" 1s; animation: "pageOutUp" 1s; }

.pageOutDown { -moz-animation: "pageOutDown" 1s; -webkit-animation: "pageOutDown" 1s; animation: "pageOutDown" 1s; }

@-webkit-keyframes pageOutUp { from { top: 0; }
  to { top: -100%; } }
@-webkit-keyframes pageOutDown { from { top: 0; }
  to { top: 100%; } }
.pageInUp { -moz-animation: "pageInUp" 1s; -webkit-animation: "pageInUp" 1s; animation: "pageInUp" 1s; }

.pageInDown { -moz-animation: "pageInDown" 1s; -webkit-animation: "pageInDown" 1s; animation: "pageInDown" 1s; }

@-webkit-keyframes pageInUp { from { top: -100%; }
  to { top: 0; } }
@-webkit-keyframes pageInDown { from { top: 100%; }
  to { top: 0; } }
.pageFadeIn { -moz-animation: "pageFadeIn" 1s; -webkit-animation: "pageFadeIn" 1s; animation: "pageFadeIn" 1s; }

@-webkit-keyframes pageFadeIn { from { opacity: 0; }
  to { opacity: 1; } }
.shakeLeftRight { -moz-animation: "shakeLeftRight" 1s infinite alternate running; -webkit-animation: "shakeLeftRight" 1s infinite alternate running; animation: "shakeLeftRight" 1s infinite alternate running; }

@-webkit-keyframes shakeLeftRight { 0%, 100% { transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% { transform: translate3d(10px, 0, 0); } }
.shakeUpDown { -moz-animation: "shakeUpDown" 1s infinite alternate running; -webkit-animation: "shakeUpDown" 1s infinite alternate running; animation: "shakeUpDown" 1s infinite alternate running; }

@-webkit-keyframes shakeUpDown { 0%, 100% { transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate3d(0, -10px, 0); }
  20%, 40%, 60%, 80% { transform: translate3d(0, 10px, 0); } }
@media only screen and (max-width: 359px) { html { font-size: 16px; } }
@media only screen and (min-width: 360px) and (max-width: 399px) { html { font-size: 18px; } }
@media only screen and (min-width: 400px) and (max-width: 479px) { html { font-size: 20px; } }
@media only screen and (min-width: 480px) { html { font-size: 24px; } }
@media only screen and (min-width: 720px) { .section { max-width: 480px; position: relative; margin: 0 auto; height: 720px; } }
