@import "scss/mixin-css3";
@import "scss/rem-calc";
@import "scss/mixin-reset";
$img:"../images/";
$bodyColor:"#fff";
$bodyBgColor:"#fff";
$font:microsoft yahei, "Tahom";
$lnkColor:"#fff";
$lnkColorHover:"#fff";

@include reset($bodyColor, $bodyBgColor, $font, $lnkColor, $lnkColorHover);
$mediaArray: "only screen and (max-width: 359px)",
"only screen and (min-width:360px) and (max-width:399px)",
"only screen and (min-width:400px) and (max-width:479px)",
"only screen and (min-width:480px)";
$rem-base: 32px;
$ratioFor320:640/320;
$ratioFor360:640/360;
$ratioFor400:640/400;
$ratioFor480:640/480;
$ratioFor640:640/640;
$htmSizeArray:  floor($rem-base/$ratioFor320),
                floor($rem-base/$ratioFor360),
                floor($rem-base/$ratioFor400),
                floor($rem-base/$ratioFor480),
                floor($rem-base/$ratioFor640);

.section{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  article{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    color: #FFFFFF;
    &.curPage{
      display: block;
    }
    &.page1{
      background-color: #F00000;
      line-height: 100%;
    }
    &.page2{
      background-color: #f60;
      line-height: 100%;
    }
    &.page3{
      background-color: #FF1A8F;
      line-height: 100%;
    }
    span{
      top: 35%;
      position: absolute;
      font-size: rem-calc(160px);
      left: 20%;
      &.rote360{
        @include hack("animation","rote360" 5s linear infinite running);
      }
    }
  }
}
@-webkit-keyframes rote360{
  from{
    @include rotate(0deg);
  }
  to{
    @include rotate(360deg);
  }
}

.pageOutUp{@include hack("animation","pageOutUp" 1s);}
.pageOutDown{@include hack("animation","pageOutDown" 1s);}
@-webkit-keyframes pageOutUp {from{top:0}to{top: -100%;}}
@-webkit-keyframes pageOutDown {from{top:0}to{top: 100%;}}
.pageInUp{@include hack("animation","pageInUp" 1s);}
.pageInDown{@include hack("animation","pageInDown" 1s);}
@-webkit-keyframes pageInUp {from{top:-100%}to{top: 0;}}
@-webkit-keyframes pageInDown {from{top:100%}to{top: 0;}}
.pageFadeIn{@include hack("animation","pageFadeIn" 1s);}
@-webkit-keyframes pageFadeIn {from{opacity:0}to{opacity: 1;}}

.shakeLeftRight{@include hack("animation","shakeLeftRight" 1s infinite alternate running);}
@-webkit-keyframes shakeLeftRight {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
.shakeUpDown{@include hack("animation","shakeUpDown" 1s infinite alternate running);}
@-webkit-keyframes shakeUpDown {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, -10px, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(0, 10px, 0);
  }
}


// set responsive
@for $mediaIndex from 1 to length($mediaArray) + 1 {
  $media: nth($mediaArray, $mediaIndex);
  $htmlFz: nth($htmSizeArray, $mediaIndex);
  @media #{$media}
  {
    html {
      font-size: $htmlFz;
    }
  }
}
@media only screen and (min-width:720px) {
  .section{
    max-width: 480px;
    position: relative;
    margin: 0 auto;
    height: 720px;
  }
}